<head>
  <title>ChatSafe</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  {{> header}}
  <div id="main">
  <div>
  <div>
    {{> dataentry}}
    {{> messageblock}}
  </div>
  </div>
  </div>
  {{> login_modal}}
  {{> info_modal}}
</body>

<template name="header">
<div class="navbar navbar-inverse navbar-top" role="navigation">
      <div>
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Chat<strong>Safe</strong></a>
        </div>
      </div>
    </div>
</template>


<template name="messageblock">
  
        {{#each get_messages}}
            {{> message}}
        {{/each}}
  
</template>

<template name="message">
  <div class="message {{#if is_owner}}my-message{{/if}}">
    <p class="message_info">
      <span class="name">{{name}}</span>,
      <time class="timeago" title="{{get_human_date}}" datetime="{{time}}">{{get_human_date}}</time>
    </p>
    <p class="message_text">
      {{decrypt_message}}
    </p>
  </div>
</template>

<template name="dataentry">
  <div id="dataEntries">
    <form role="form">
      <div class="input-group" style="max-width:100% !important;">
        <label class="sr-only" for="messageInput">Your Message</label>
        <input type="text" class="form-control" id="messageInput" placeholder="Enter Your Message" autofocus="autofocus">
        <div class="input-group-btn">
          <div class="">
            <button id="sendMessage" type="submit" class="btn btn-default">Send</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a id="edit" href="#modal-login" data-toggle="modal"><span class="glyphicon glyphicon-comment"></span>&nbsp;&nbsp;Join</a></li>
              <li class="divider"></li>
              <li><a id="info" href="#modal-info" data-toggle="modal"><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;About</a></li>
              <li class="divider"></li>
              <li><a id="remove" href="#remove-ads" data-toggle="modal"><span class="glyphicon glyphicon-eye-close"></span>&nbsp;&nbsp;Remove Ads</a></li>
            </ul>
          </div>
          <!-- Button and dropdown menu -->
        </div>
      </div>
    </form>
  </div>
</template>

<template name="login_modal">
  <!-- Modal -->
  <div id="modal-login" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Join A Secure Chat Room</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <!-- label for="my_name">Screen Name</label -->
              <input type="text" class="form-control" id="my_name" placeholder="Screen Name">
            </div>
            <div class="form-group">
              <!-- label for="cifer_key">Unique Room ID</label-->
              <input type="password" class="form-control" id="cifer_key" placeholder="Unique Room ID">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button id="login_submit" type="button" class="btn btn-primary">Enter</button>
        </div>
      </div>
    </div>
  </div>
</template>


<template name="info_modal">
  <!-- Modal -->
  <div class="modal fade" id="modal-info" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Chat<strong>Safe</strong></h4>
        </div>
        <div class="modal-body">
          <li>The Unique Room ID is used as the password for your communications. Keep it safe from people you don't want seeing your chat room.</li>
          <li>The Room ID is never sent to our servers, and is only stored on your device.</li>
          <li>Chat logs are not recoverable without the Unique Room ID key.</li>
          <li>Chat across all platforms including at <a href="http://chatsafe.me">ChatSafe.me</a>.</li>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="remove-ads">
  <!-- Modal -->
  
</template>

<template name="footer">
  <div id="footer" class="row">
    
  </div>
</template>

