#messages {
height:600px;
overflow:auto;
}

.dropdown-menu{
	left: -68px;
}

.dropdown-menu > li > a{
	padding: 8px 25px;
}
.message {
color:#000;
background: #fff;
margin-left:0;
margin-right:0;
-webkit-animation-name:flip;
-webkit-animation-duration:500ms;
border-bottom:1px solid rgba(0,0,0,.1);
padding: 10px 20px;
}
.modal{
	top:60px;
}
.my-message {
background: #fff;
color: #000;
text-align: right;
padding: 10px 20px;
}
.message_info {
font-size:10px;
color:#5C5C5C;
}
.navbar{
	margin-bottom:0px;
}

#messageInput{
	height:48px;
}

#sendMessage, .btn.btn-default.dropdown-toggle{
	padding:13px;
	margin-top:-1px;
}

body {
  
}

.navbar-brand{
	margin-top: 8px;
}

.navbar{
	min-height:70px;
	border-radius:0px;
}

#footer center{
	margin:10px 0;
}

button, input, .modal-content, .dropdown-menu{
	border-radius:0px !important;
}